<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="weirdFeird"
                 type="Aliencube.WeirdFeird.Configurations.WeirdFeirdSettings, Aliencube.WeirdFeird.Configurations"
                 requirePermission="false" />
    </configSections>

    <weirdFeird configSource="WeirdFeird.config" />
</configuration>